USE [master]
GO
/****** Object:  Database [DBHIPOCRATES]    Script Date: 13/05/2017 20:33:27 ******/
CREATE DATABASE [DBHIPOCRATES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHIPOCRATES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DBHIPOCRATES.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBHIPOCRATES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DBHIPOCRATES_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHIPOCRATES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHIPOCRATES]
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_administrador]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[sp_actualizar_administrador] 
	@administrador_rut      BIGINT,
    @administrador_usuario  VARCHAR,
    @administrador_password VARCHAR
AS
BEGIN TRY
       
       BEGIN TRAN update_administrador
             UPDATE tblAdministrador SET 
				administrador_usuario=@administrador_usuario ,
				administrador_password=@administrador_password
			 WHERE
				administrador_rut=@administrador_rut
       COMMIT TRAN update_administrador
END TRY
BEGIN CATCH 
       SELECT ERROR_NUMBER() AS errNumber
       , ERROR_SEVERITY() AS errSeverity  
       , ERROR_STATE() AS errState
       , ERROR_PROCEDURE() AS errProcedure
       , ERROR_LINE() AS errLine
       , ERROR_MESSAGE() AS errMessage

       ROLLBACK TRAN update_administrador
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_usuario]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_actualizar_usuario] 
	@usuario_rut                   BIGINT,
    @usuario_nombre                VARCHAR (100),
    @usuario_apaterno              VARCHAR (100),
    @usuario_amaterno              VARCHAR (100),
    @usuario_num_tel_personal      VARCHAR (13),
    @usuario_num_tel_trabajo       VARCHAR (13),
    @usuario_num_anexo             VARCHAR (5),
    @usuario_email                 VARCHAR (100),
    @usuario_password              VARCHAR (50),
    @tblTipoUsuario_tipousuario_id BIGINT,
    @recepcionista_usuario         VARCHAR (50) 
AS
BEGIN TRY
       
       BEGIN TRAN update_usuario
             UPDATE tblUsuario SET 
			 usuario_nombre=@usuario_nombre,
			 usuario_apaterno=@usuario_apaterno,
			 usuario_amaterno=@usuario_amaterno,
			 usuario_num_tel_personal=@usuario_num_tel_personal,
			 usuario_num_tel_trabajo=@usuario_num_tel_trabajo,
			 usuario_num_anexo=@usuario_num_anexo,
			 usuario_email=@usuario_email,
			 usuario_password=@usuario_password,
			 tblTipoUsuario_tipousuario_id=@tblTipoUsuario_tipousuario_id,
			 recepcionista_usuario=@recepcionista_usuario
			 WHERE
			 usuario_rut=@usuario_rut
       COMMIT TRAN update_usuario
END TRY
BEGIN CATCH 
       SELECT ERROR_NUMBER() AS errNumber
       , ERROR_SEVERITY() AS errSeverity  
       , ERROR_STATE() AS errState
       , ERROR_PROCEDURE() AS errProcedure
       , ERROR_LINE() AS errLine
       , ERROR_MESSAGE() AS errMessage

       ROLLBACK TRAN update_usuario
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[sp_agregar_administrador]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Para consumir tabla en .NET

DataTable tblEmployees = new DataTable();

using(SqlConnection _con = new SqlConnection("your-connection-string-here"))
using(SqlCommand _cmd = new SqlCommand("ReadEmployees", _con))
{
    _cmd.CommandType = CommandType.StoredProcedure;

    _cmd.Parameters.Add(new SqlParameter("@EmpID", SqlDbType.Int));
    _cmd.Parameters["@EmpID"].Value = 42;

    SqlDataAdapter _dap = new SqlDataAdapter(_cmd);

    _dap.Fill(tblEmployees);
}

YourGridView.DataSource = tblEmployees;
YourGridView.DataBind();
*/

-- CRUD Administrador
CREATE PROCEDURE [dbo].[sp_agregar_administrador] @rut BIGINT, @dv char(1), @usuario varchar(20), @password varchar(50) AS
BEGIN
INSERT INTO tblAdministrador (
    administrador_rut,
    administrador_dv,      
    administrador_usuario,  
    administrador_password 
  )
VALUES
(
@rut, 
@dv, 
@usuario, 
@password 
)

END

GO
/****** Object:  StoredProcedure [dbo].[sp_agregar_paciente]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
Para consumir tabla en .NET

DataTable tblEmployees = new DataTable();

using(SqlConnection _con = new SqlConnection("your-connection-string-here"))
using(SqlCommand _cmd = new SqlCommand("ReadEmployees", _con))
{
    _cmd.CommandType = CommandType.StoredProcedure;

    _cmd.Parameters.Add(new SqlParameter("@EmpID", SqlDbType.Int));
    _cmd.Parameters["@EmpID"].Value = 42;

    SqlDataAdapter _dap = new SqlDataAdapter(_cmd);

    _dap.Fill(tblEmployees);
}

YourGridView.DataSource = tblEmployees;
YourGridView.DataBind();
*/

-- Paciente

  
  -- En un inicio, por defecto el password del paciente serᠱ23 y el estado_clave 0
  CREATE PROCEDURE [dbo].[sp_agregar_paciente] 
  
    @paciente_rut          BIGINT,
    @paciente_dv           CHAR (1),
    @paciente_nombre       VARCHAR (100),
    @paciente_apaterno     VARCHAR (100),
    @paciente_amaterno     VARCHAR (100),
    @paciente_fecha_nac    DATE,
    @paciente_genero       CHAR (1),
    @paciente_email        VARCHAR (50),
    @paciente_numcel       VARCHAR (13),
    @paciente_numfono      VARCHAR (13),
    @paciente_direccion    VARCHAR (500),
    @paciente_estado_clave CHAR (1),
    @tblComuna_comuna_id   BIGINT,
	@tipoSeguro_id BIGINT
	
	AS
	BEGIN
	INSERT
	INTO tblPaciente 
	
	(
	paciente_rut,
    paciente_dv,
    paciente_nombre,
    paciente_apaterno,
    paciente_amaterno,
    paciente_fecha_nac,
    paciente_genero,
    paciente_email,
    paciente_password,
    paciente_numcel,
    paciente_numfono,
    paciente_direccion,
    paciente_estado_clave,
    tblComuna_comuna_id,
	tipoSeguro_id)
	
	VALUES
	(
	@paciente_rut,
    @paciente_dv,
    @paciente_nombre,
    @paciente_apaterno,
    @paciente_amaterno,
    @paciente_fecha_nac,
    @paciente_genero,
    @paciente_email,
	'123',
    @paciente_numcel,
    @paciente_numfono,
    @paciente_direccion,
    '0',
    @tblComuna_comuna_id,
	@tipoSeguro_id
	)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_agregar_usuario]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CRUD Usuario

 CREATE PROCEDURE [dbo].[sp_agregar_usuario] 
    @usuario_rut                   BIGINT,
    @usuario_nombre                VARCHAR (100),
    @usuario_apaterno              VARCHAR (100),
    @usuario_amaterno              VARCHAR (100),
    @usuario_num_tel_personal      VARCHAR (13),
    @usuario_num_tel_trabajo       VARCHAR (13),
    @usuario_num_anexo             VARCHAR (5),
    @usuario_email                 VARCHAR (100),
    @usuario_password              VARCHAR (50),
    @tblTipoUsuario_tipousuario_id BIGINT,
    @recepcionista_usuario         VARCHAR (50) 
  AS
BEGIN
INSERT INTO tblUsuario (
    usuario_rut,
    usuario_nombre,
    usuario_apaterno,
    usuario_amaterno,
    usuario_num_tel_personal,
    usuario_num_tel_trabajo,
    usuario_num_anexo,
    usuario_email,
    usuario_password,
    tblTipoUsuario_tipousuario_id,
    recepcionista_usuario
  )
VALUES
(
@usuario_rut,
    @usuario_nombre,
    @usuario_apaterno,
    @usuario_amaterno,
    @usuario_num_tel_personal,
    @usuario_num_tel_trabajo,
    @usuario_num_anexo,
    @usuario_email,
    @usuario_password,
    @tblTipoUsuario_tipousuario_id,
    @recepcionista_usuario
)

END

GO
/****** Object:  StoredProcedure [dbo].[sp_cambiar_clave_paciente]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Acᠳe cambian los valores por defecto del paciente.
CREATE PROCEDURE [dbo].[sp_cambiar_clave_paciente] @rut BIGINT, @password VARCHAR (100) AS
BEGIN
UPDATE tblPaciente SET paciente_password=@password, paciente_estado_clave='1' WHERE paciente_rut=@rut
END




GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_administrador]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_consultar_administrador] 
@rut BIGINT
AS
BEGIN TRY
       SELECT 
		administrador_rut,
		administrador_dv,      
		administrador_usuario,  
		administrador_password 
	   FROM tbladministrador WHERE administrador_rut=@rut
END TRY
BEGIN CATCH 
       SELECT ERROR_NUMBER() AS errNumber
       , ERROR_SEVERITY() AS errSeverity  
       , ERROR_STATE() AS errState
       , ERROR_PROCEDURE() AS errProcedure
       , ERROR_LINE() AS errLine
       , ERROR_MESSAGE() AS errMessage
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[sp_consultar_usuario]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_consultar_usuario] 
@rut BIGINT
AS
BEGIN TRY
       SELECT 
		usuario_rut,
		usuario_nombre,
		usuario_apaterno,
		usuario_amaterno,
		usuario_num_tel_personal,
		usuario_num_tel_trabajo,
		usuario_num_anexo,
		usuario_email,
		usuario_password,
		tblTipoUsuario_tipousuario_id,
		recepcionista_usuario
	   FROM tblUsuario WHERE usuario_rut=@rut
END TRY
BEGIN CATCH 
       SELECT ERROR_NUMBER() AS errNumber
       , ERROR_SEVERITY() AS errSeverity  
       , ERROR_STATE() AS errState
       , ERROR_PROCEDURE() AS errProcedure
       , ERROR_LINE() AS errLine
       , ERROR_MESSAGE() AS errMessage
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_administrador]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_eliminar_administrador] 
@administrador_rut bigint 
AS
DELETE FROM tblAdministrador WHERE administrador_rut=@administrador_rut

GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_usuario]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_eliminar_usuario] 
@usuario_rut bigint 
AS
DELETE FROM tblUsuario WHERE usuario_rut=@usuario_rut

GO
/****** Object:  Table [dbo].[tblAdministrador]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAdministrador](
	[administrador_rut] [bigint] NOT NULL,
	[administrador_dv] [char](1) NOT NULL,
	[administrador_usuario] [varchar](20) NOT NULL,
	[administrador_password] [varchar](50) NOT NULL,
 CONSTRAINT [tblAdministrador_administrador_rut_UN] PRIMARY KEY CLUSTERED 
(
	[administrador_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblBoleta]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblBoleta](
	[boleta_id] [bigint] NOT NULL,
	[boleta_glosa] [varchar](100) NOT NULL,
	[boleta_pago_total_descuento_pesos] [numeric](7, 0) NOT NULL,
	[boleta_pago_total_pesos] [numeric](7, 0) NOT NULL,
	[tblPago_pago_id] [bigint] NOT NULL,
 CONSTRAINT [tblBoleta_boleta_id_UN] PRIMARY KEY CLUSTERED 
(
	[boleta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblBonificacion]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBonificacion](
	[bonificacion_id] [bigint] NOT NULL,
	[bonificacion_porcentaje] [numeric](3, 2) NOT NULL,
	[bonificacion_tope] [numeric](7, 0) NOT NULL,
	[tblTipoSeguro_tipoSeguro_id] [bigint] NULL,
 CONSTRAINT [tblBonificacion_bonificacion_id_UN] PRIMARY KEY CLUSTERED 
(
	[bonificacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCaja]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCaja](
	[caja_id] [bigint] NOT NULL,
	[caja_puesto_trabajo] [varchar](50) NOT NULL,
 CONSTRAINT [tblCaja_caja_id_UN] PRIMARY KEY CLUSTERED 
(
	[caja_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCentroMedico]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCentroMedico](
	[centromedico_id] [bigint] NOT NULL,
	[centromedico_direccion] [varchar](100) NOT NULL,
	[tblAdministrador_administrador_rut] [bigint] NOT NULL,
 CONSTRAINT [tblCentroMedico_centromedico_id_UN] PRIMARY KEY CLUSTERED 
(
	[centromedico_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblComuna]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblComuna](
	[comuna_id] [bigint] NOT NULL,
	[comuna_descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [tblComuna_comuna_id_UN] PRIMARY KEY CLUSTERED 
(
	[comuna_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDevolucion]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDevolucion](
	[devolucion_id] [bigint] NOT NULL,
	[devolucion_monto] [numeric](7, 0) NOT NULL,
	[devolucion_motivo] [varchar](100) NOT NULL,
	[tblNotaCredito_notacredito_id] [bigint] NOT NULL,
 CONSTRAINT [tblDevolucion_devolucion_id_UN] PRIMARY KEY CLUSTERED 
(
	[devolucion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblEspecialidad]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEspecialidad](
	[especialidad_id] [bigint] NOT NULL,
	[especialidad_descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [tblEspecialidad_especialidad_id_UN] PRIMARY KEY CLUSTERED 
(
	[especialidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblFichaMedica]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFichaMedica](
	[fichamedica_id] [bigint] NOT NULL,
	[fichamedica_fecha] [date] NOT NULL,
	[fichamedica_peso] [numeric](4, 2) NOT NULL,
	[fichamedica_estatura] [numeric](4, 2) NOT NULL,
	[fichamedica_diagnostico] [varchar](50) NOT NULL,
	[fichamedica_observaciones] [varchar](1000) NOT NULL,
	[fichamedica_req_tratamiento] [char](1) NOT NULL,
	[tblPaciente_paciente_rut] [bigint] NULL,
 CONSTRAINT [tblFichaMedica_fichamedica_id_UN] PRIMARY KEY CLUSTERED 
(
	[fichamedica_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblFuncionarioTecnico]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFuncionarioTecnico](
	[funcionarioTec_rut] [bigint] NOT NULL,
	[funcionarioTec_dv] [char](1) NOT NULL,
	[funcionarioTec_nombre] [varchar](100) NOT NULL,
	[funcionarioTec_apaterno] [varchar](100) NOT NULL,
	[funcionarioTec_amaterno] [varchar](100) NOT NULL,
	[funcionarioTec_fecha_nac] [date] NOT NULL,
	[funcionarioTec_genero] [char](1) NOT NULL,
	[funcionarioTec_email] [varchar](100) NOT NULL,
	[funcionarioTec_usuario] [varchar](100) NOT NULL,
	[funcionarioTec_password] [varchar](100) NOT NULL,
	[funcionarioTec_num_tel_personal] [varchar](13) NULL,
	[funcionarioTec_num_tel_trabajo] [varchar](13) NOT NULL,
	[funcionarioTec_num_anexo] [varchar](5) NOT NULL,
 CONSTRAINT [tblFuncionarioTecnico_funcionarioTec_rut_UN] PRIMARY KEY CLUSTERED 
(
	[funcionarioTec_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMedico]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMedico](
	[medico_rut] [bigint] NOT NULL,
	[medico_dv] [char](1) NOT NULL,
	[medico_nombre] [varchar](100) NOT NULL,
	[medico_apaterno] [varchar](100) NOT NULL,
	[medico_amaterno] [varchar](100) NOT NULL,
	[medico_fecha_nac] [date] NOT NULL,
	[medico_genero] [char](1) NOT NULL,
	[medico_email] [varchar](100) NOT NULL,
	[medico_usuario] [varchar](50) NOT NULL,
	[medico_password] [varchar](50) NOT NULL,
	[medico_num_tel_personal] [varchar](13) NULL,
	[medico_num_tel_trabajo] [varchar](13) NOT NULL,
	[medico_num_anexo] [varchar](5) NOT NULL,
	[especialidad_id2] [bigint] NULL,
	[especialidad_id] [bigint] NOT NULL,
	[tblEspecialidad_especialidad_id] [bigint] NULL,
 CONSTRAINT [tblMedico_medico_rut_UN] PRIMARY KEY CLUSTERED 
(
	[medico_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMetodoPago]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMetodoPago](
	[metodoPago_id] [bigint] NOT NULL,
	[metodoPago_descripcion] [varchar](50) NOT NULL,
	[tblPago_pago_id] [bigint] NOT NULL,
 CONSTRAINT [tblMetodoPago_metodoPago_id_UN] PRIMARY KEY CLUSTERED 
(
	[metodoPago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMovimientoCaja]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMovimientoCaja](
	[movimientocaja_id] [bigint] NOT NULL,
	[movimientocaja_fh_apertura] [date] NOT NULL,
	[movimientocaja_fh_cierre] [date] NOT NULL,
	[tblCaja_caja_id] [bigint] NULL,
	[movimientocaja_recaudacion] [numeric](9, 0) NOT NULL,
	[tblSupervisor_supervisor_rut] [bigint] NOT NULL,
 CONSTRAINT [tblMovimientoCaja_movimientocaja_id_UN] PRIMARY KEY CLUSTERED 
(
	[movimientocaja_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNotaCredito]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNotaCredito](
	[notacredito_id] [bigint] NOT NULL,
	[notacredito_monto] [numeric](7, 0) NOT NULL,
 CONSTRAINT [tblNotaCredito_notacredito_id_UN] PRIMARY KEY CLUSTERED 
(
	[notacredito_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPaciente]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPaciente](
	[paciente_rut] [bigint] NOT NULL,
	[paciente_dv] [char](1) NOT NULL,
	[paciente_nombre] [varchar](100) NOT NULL,
	[paciente_apaterno] [varchar](100) NOT NULL,
	[paciente_amaterno] [varchar](100) NOT NULL,
	[paciente_fecha_nac] [date] NOT NULL,
	[paciente_genero] [char](1) NOT NULL,
	[paciente_email] [varchar](50) NOT NULL,
	[paciente_password] [varchar](100) NOT NULL,
	[paciente_numcel] [varchar](13) NULL,
	[paciente_numfono] [varchar](13) NULL,
	[paciente_direccion] [varchar](500) NOT NULL,
	[paciente_estado_clave] [char](1) NOT NULL,
	[tblComuna_comuna_id] [bigint] NOT NULL,
	[tipoSeguro_id] [bigint] NOT NULL,
 CONSTRAINT [tblPaciente_paciente_rut_UN] PRIMARY KEY CLUSTERED 
(
	[paciente_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblPago]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPago](
	[pago_id] [bigint] NOT NULL,
	[pago_monto] [numeric](18, 0) NOT NULL,
	[pago_fh_transaccion] [date] NOT NULL,
	[tblDevolucion_devolucion_id] [bigint] NOT NULL,
	[tblCaja_caja_id] [bigint] NULL,
	[tblBonificacion_bonificacion_id] [bigint] NOT NULL,
 CONSTRAINT [tblPago_pago_id_UN] PRIMARY KEY CLUSTERED 
(
	[pago_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPrestacion]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPrestacion](
	[prestacion_id] [bigint] NOT NULL,
	[prestacion_fecha] [date] NOT NULL,
	[tblTipoPrestacion_tipoprestacion_id] [bigint] NOT NULL,
	[prestacion_valor] [numeric](7, 0) NOT NULL,
	[tblMedico_medico_rut] [bigint] NULL,
	[tblCentroMedico_centromedico_id] [bigint] NULL,
	[tblReserva_reserva_id] [bigint] NULL,
	[tblFuncionarioTecnico_funcionarioTec_rut] [bigint] NOT NULL,
	[especialidad_id2] [bigint] NOT NULL,
	[tblPaciente_paciente_rut] [bigint] NULL,
	[especialidad_id] [bigint] NULL,
	[tblEspecialidad_especialidad_id] [bigint] NOT NULL,
 CONSTRAINT [tblPrestacion_prestacion_id_UN] PRIMARY KEY CLUSTERED 
(
	[prestacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblReserva]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblReserva](
	[reserva_id] [bigint] NOT NULL,
	[reserva_fh_ingreso] [date] NOT NULL,
	[reserva_fecha] [date] NOT NULL,
	[reserva_hora] [date] NOT NULL,
	[reserva_estado] [char](1) NOT NULL,
	[reserva_fh_ultimo_estado] [date] NOT NULL,
	[reserva_tipo_canal] [char](1) NOT NULL,
	[tblUsuario_usuario_rut] [bigint] NULL,
	[paciente_rut] [bigint] NULL,
	[tblPaciente_paciente_rut] [bigint] NULL,
 CONSTRAINT [tblReserva_reserva_id_UN] PRIMARY KEY CLUSTERED 
(
	[reserva_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSupervisor]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSupervisor](
	[supervisor_rut] [bigint] NOT NULL,
	[supervisor_dv] [char](1) NOT NULL,
	[supervisor_usuario] [varchar](20) NOT NULL,
	[supervisor_password] [varchar](50) NOT NULL,
 CONSTRAINT [tblSupervisor_supervisor_rut_UN] PRIMARY KEY CLUSTERED 
(
	[supervisor_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTipoPrestacion]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTipoPrestacion](
	[tipoprestacion_id] [bigint] NOT NULL,
	[tipoprestacion_descripcion] [varchar](50) NOT NULL,
	[tipoprestacion_subdescripcion] [varchar](50) NOT NULL,
 CONSTRAINT [tblTipoPrestacion_tipoprestacion_id_UN] PRIMARY KEY CLUSTERED 
(
	[tipoprestacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTipoSeguro]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTipoSeguro](
	[tipoSeguro_id] [bigint] NOT NULL,
	[tipoSeguro_descripcion] [varchar](50) NOT NULL,
	[tipoSeguro_publico] [char](1) NOT NULL,
 CONSTRAINT [tblTipoSeguro_tipoSeguro_id_UN] PRIMARY KEY CLUSTERED 
(
	[tipoSeguro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTipoUsuario]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTipoUsuario](
	[tipousuario_id] [bigint] NOT NULL,
	[tipousuario_descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [tblTipoUsuario_PK] PRIMARY KEY CLUSTERED 
(
	[tipousuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUsuario]    Script Date: 13/05/2017 20:33:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUsuario](
	[usuario_rut] [bigint] NOT NULL,
	[usuario_nombre] [varchar](100) NOT NULL,
	[usuario_apaterno] [varchar](100) NOT NULL,
	[usuario_amaterno] [varchar](100) NOT NULL,
	[usuario_num_tel_personal] [varchar](13) NULL,
	[usuario_num_tel_trabajo] [varchar](13) NOT NULL,
	[usuario_num_anexo] [varchar](5) NOT NULL,
	[usuario_email] [varchar](100) NOT NULL,
	[usuario_password] [varchar](50) NOT NULL,
	[tblTipoUsuario_tipousuario_id] [bigint] NOT NULL,
	[recepcionista_usuario] [varchar](50) NOT NULL,
 CONSTRAINT [tblUsuario_usuario_rut_UN] PRIMARY KEY CLUSTERED 
(
	[usuario_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [tblCentroMedico__IDX]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblCentroMedico__IDX] ON [dbo].[tblCentroMedico]
(
	[tblAdministrador_administrador_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblDevolucion__IDX]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblDevolucion__IDX] ON [dbo].[tblDevolucion]
(
	[tblNotaCredito_notacredito_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblMedico__IDX]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblMedico__IDX] ON [dbo].[tblMedico]
(
	[tblEspecialidad_especialidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblPago__IDX]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblPago__IDX] ON [dbo].[tblPago]
(
	[tblDevolucion_devolucion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblPago__IDXv1]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblPago__IDXv1] ON [dbo].[tblPago]
(
	[tblBonificacion_bonificacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblPrestacion__IDX]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblPrestacion__IDX] ON [dbo].[tblPrestacion]
(
	[tblTipoPrestacion_tipoprestacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblPrestacion__IDXv1]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblPrestacion__IDXv1] ON [dbo].[tblPrestacion]
(
	[tblReserva_reserva_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblPrestacion__IDXv2]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblPrestacion__IDXv2] ON [dbo].[tblPrestacion]
(
	[tblMedico_medico_rut] ASC,
	[especialidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblPrestacion__IDXv3]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblPrestacion__IDXv3] ON [dbo].[tblPrestacion]
(
	[tblPaciente_paciente_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [tblPrestacion__IDXv4]    Script Date: 13/05/2017 20:33:27 ******/
CREATE UNIQUE NONCLUSTERED INDEX [tblPrestacion__IDXv4] ON [dbo].[tblPrestacion]
(
	[tblMedico_medico_rut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBoleta]  WITH CHECK ADD  CONSTRAINT [tblBoleta_tblPago_FK] FOREIGN KEY([tblPago_pago_id])
REFERENCES [dbo].[tblPago] ([pago_id])
GO
ALTER TABLE [dbo].[tblBoleta] CHECK CONSTRAINT [tblBoleta_tblPago_FK]
GO
ALTER TABLE [dbo].[tblBonificacion]  WITH CHECK ADD  CONSTRAINT [tblBonificacion_tblTipoSeguro_FK] FOREIGN KEY([tblTipoSeguro_tipoSeguro_id])
REFERENCES [dbo].[tblTipoSeguro] ([tipoSeguro_id])
GO
ALTER TABLE [dbo].[tblBonificacion] CHECK CONSTRAINT [tblBonificacion_tblTipoSeguro_FK]
GO
ALTER TABLE [dbo].[tblCentroMedico]  WITH CHECK ADD  CONSTRAINT [tblCentroMedico_tblAdministrador_FK] FOREIGN KEY([tblAdministrador_administrador_rut])
REFERENCES [dbo].[tblAdministrador] ([administrador_rut])
GO
ALTER TABLE [dbo].[tblCentroMedico] CHECK CONSTRAINT [tblCentroMedico_tblAdministrador_FK]
GO
ALTER TABLE [dbo].[tblDevolucion]  WITH CHECK ADD  CONSTRAINT [tblDevolucion_tblNotaCredito_FK] FOREIGN KEY([tblNotaCredito_notacredito_id])
REFERENCES [dbo].[tblNotaCredito] ([notacredito_id])
GO
ALTER TABLE [dbo].[tblDevolucion] CHECK CONSTRAINT [tblDevolucion_tblNotaCredito_FK]
GO
ALTER TABLE [dbo].[tblFichaMedica]  WITH CHECK ADD  CONSTRAINT [tblFichaMedica_tblPaciente_FK] FOREIGN KEY([tblPaciente_paciente_rut])
REFERENCES [dbo].[tblPaciente] ([paciente_rut])
GO
ALTER TABLE [dbo].[tblFichaMedica] CHECK CONSTRAINT [tblFichaMedica_tblPaciente_FK]
GO
ALTER TABLE [dbo].[tblMedico]  WITH CHECK ADD  CONSTRAINT [es_poseida] FOREIGN KEY([especialidad_id])
REFERENCES [dbo].[tblEspecialidad] ([especialidad_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblMedico] CHECK CONSTRAINT [es_poseida]
GO
ALTER TABLE [dbo].[tblMedico]  WITH CHECK ADD  CONSTRAINT [tblMedico_tblEspecialidad_FK] FOREIGN KEY([tblEspecialidad_especialidad_id])
REFERENCES [dbo].[tblEspecialidad] ([especialidad_id])
GO
ALTER TABLE [dbo].[tblMedico] CHECK CONSTRAINT [tblMedico_tblEspecialidad_FK]
GO
ALTER TABLE [dbo].[tblMetodoPago]  WITH CHECK ADD  CONSTRAINT [tblMetodoPago_tblPago_FK] FOREIGN KEY([tblPago_pago_id])
REFERENCES [dbo].[tblPago] ([pago_id])
GO
ALTER TABLE [dbo].[tblMetodoPago] CHECK CONSTRAINT [tblMetodoPago_tblPago_FK]
GO
ALTER TABLE [dbo].[tblMovimientoCaja]  WITH CHECK ADD  CONSTRAINT [tblMovimientoCaja_tblCaja_FK] FOREIGN KEY([tblCaja_caja_id])
REFERENCES [dbo].[tblCaja] ([caja_id])
GO
ALTER TABLE [dbo].[tblMovimientoCaja] CHECK CONSTRAINT [tblMovimientoCaja_tblCaja_FK]
GO
ALTER TABLE [dbo].[tblMovimientoCaja]  WITH CHECK ADD  CONSTRAINT [tblMovimientoCaja_tblSupervisor_FK] FOREIGN KEY([tblSupervisor_supervisor_rut])
REFERENCES [dbo].[tblSupervisor] ([supervisor_rut])
GO
ALTER TABLE [dbo].[tblMovimientoCaja] CHECK CONSTRAINT [tblMovimientoCaja_tblSupervisor_FK]
GO
ALTER TABLE [dbo].[tblPaciente]  WITH CHECK ADD  CONSTRAINT [beneficia] FOREIGN KEY([tipoSeguro_id])
REFERENCES [dbo].[tblTipoSeguro] ([tipoSeguro_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblPaciente] CHECK CONSTRAINT [beneficia]
GO
ALTER TABLE [dbo].[tblPaciente]  WITH CHECK ADD  CONSTRAINT [tblPaciente_tblComuna_FK] FOREIGN KEY([tblComuna_comuna_id])
REFERENCES [dbo].[tblComuna] ([comuna_id])
GO
ALTER TABLE [dbo].[tblPaciente] CHECK CONSTRAINT [tblPaciente_tblComuna_FK]
GO
ALTER TABLE [dbo].[tblPago]  WITH CHECK ADD  CONSTRAINT [tblPago_tblBonificacion_FK] FOREIGN KEY([tblBonificacion_bonificacion_id])
REFERENCES [dbo].[tblBonificacion] ([bonificacion_id])
GO
ALTER TABLE [dbo].[tblPago] CHECK CONSTRAINT [tblPago_tblBonificacion_FK]
GO
ALTER TABLE [dbo].[tblPago]  WITH CHECK ADD  CONSTRAINT [tblPago_tblCaja_FK] FOREIGN KEY([tblCaja_caja_id])
REFERENCES [dbo].[tblCaja] ([caja_id])
GO
ALTER TABLE [dbo].[tblPago] CHECK CONSTRAINT [tblPago_tblCaja_FK]
GO
ALTER TABLE [dbo].[tblPago]  WITH CHECK ADD  CONSTRAINT [tblPago_tblDevolucion_FK] FOREIGN KEY([tblDevolucion_devolucion_id])
REFERENCES [dbo].[tblDevolucion] ([devolucion_id])
GO
ALTER TABLE [dbo].[tblPago] CHECK CONSTRAINT [tblPago_tblDevolucion_FK]
GO
ALTER TABLE [dbo].[tblPrestacion]  WITH CHECK ADD  CONSTRAINT [tblPrestacion_tblCentroMedico_FK] FOREIGN KEY([tblCentroMedico_centromedico_id])
REFERENCES [dbo].[tblCentroMedico] ([centromedico_id])
GO
ALTER TABLE [dbo].[tblPrestacion] CHECK CONSTRAINT [tblPrestacion_tblCentroMedico_FK]
GO
ALTER TABLE [dbo].[tblPrestacion]  WITH CHECK ADD  CONSTRAINT [tblPrestacion_tblEspecialidad_FK] FOREIGN KEY([tblEspecialidad_especialidad_id])
REFERENCES [dbo].[tblEspecialidad] ([especialidad_id])
GO
ALTER TABLE [dbo].[tblPrestacion] CHECK CONSTRAINT [tblPrestacion_tblEspecialidad_FK]
GO
ALTER TABLE [dbo].[tblPrestacion]  WITH CHECK ADD  CONSTRAINT [tblPrestacion_tblFuncionarioTecnico_FK] FOREIGN KEY([tblFuncionarioTecnico_funcionarioTec_rut])
REFERENCES [dbo].[tblFuncionarioTecnico] ([funcionarioTec_rut])
GO
ALTER TABLE [dbo].[tblPrestacion] CHECK CONSTRAINT [tblPrestacion_tblFuncionarioTecnico_FK]
GO
ALTER TABLE [dbo].[tblPrestacion]  WITH CHECK ADD  CONSTRAINT [tblPrestacion_tblMedico_FK] FOREIGN KEY([tblMedico_medico_rut])
REFERENCES [dbo].[tblMedico] ([medico_rut])
GO
ALTER TABLE [dbo].[tblPrestacion] CHECK CONSTRAINT [tblPrestacion_tblMedico_FK]
GO
ALTER TABLE [dbo].[tblPrestacion]  WITH CHECK ADD  CONSTRAINT [tblPrestacion_tblPaciente_FK] FOREIGN KEY([tblPaciente_paciente_rut])
REFERENCES [dbo].[tblPaciente] ([paciente_rut])
GO
ALTER TABLE [dbo].[tblPrestacion] CHECK CONSTRAINT [tblPrestacion_tblPaciente_FK]
GO
ALTER TABLE [dbo].[tblPrestacion]  WITH CHECK ADD  CONSTRAINT [tblPrestacion_tblReserva_FK] FOREIGN KEY([tblReserva_reserva_id])
REFERENCES [dbo].[tblReserva] ([reserva_id])
GO
ALTER TABLE [dbo].[tblPrestacion] CHECK CONSTRAINT [tblPrestacion_tblReserva_FK]
GO
ALTER TABLE [dbo].[tblPrestacion]  WITH CHECK ADD  CONSTRAINT [tblPrestacion_tblTipoPrestacion_FK] FOREIGN KEY([tblTipoPrestacion_tipoprestacion_id])
REFERENCES [dbo].[tblTipoPrestacion] ([tipoprestacion_id])
GO
ALTER TABLE [dbo].[tblPrestacion] CHECK CONSTRAINT [tblPrestacion_tblTipoPrestacion_FK]
GO
ALTER TABLE [dbo].[tblReserva]  WITH CHECK ADD  CONSTRAINT [tblReserva_tblPaciente_FK] FOREIGN KEY([tblPaciente_paciente_rut])
REFERENCES [dbo].[tblPaciente] ([paciente_rut])
GO
ALTER TABLE [dbo].[tblReserva] CHECK CONSTRAINT [tblReserva_tblPaciente_FK]
GO
ALTER TABLE [dbo].[tblReserva]  WITH CHECK ADD  CONSTRAINT [tblReserva_tblUsuario_FK] FOREIGN KEY([tblUsuario_usuario_rut])
REFERENCES [dbo].[tblUsuario] ([usuario_rut])
GO
ALTER TABLE [dbo].[tblReserva] CHECK CONSTRAINT [tblReserva_tblUsuario_FK]
GO
ALTER TABLE [dbo].[tblUsuario]  WITH CHECK ADD  CONSTRAINT [tblUsuario_tblTipoUsuario_FK] FOREIGN KEY([tblTipoUsuario_tipousuario_id])
REFERENCES [dbo].[tblTipoUsuario] ([tipousuario_id])
GO
ALTER TABLE [dbo].[tblUsuario] CHECK CONSTRAINT [tblUsuario_tblTipoUsuario_FK]
GO
USE [master]
GO
