<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
         <tr>
            <td width="15" valign="bottom" class="bordes_izq">&nbsp;</td>
            <td>
               <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                     <td><img src="http://www.clinicasantamaria.cl/imagenes/index/space.gif" width="277" height="7" /></td>
                  </tr>
               </table>
               <table width="915" height="675" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                  <tr>
                     <td></td>
                  </tr>
                  <tr>
                     <td valign="top">
                        <table width="911" border="0" align="center" cellpadding="0" cellspacing="0">
                           <tr>
                              <td width="500" rowspan="2" valign="top">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td>
                                          <table border="0" align="center" cellpadding="0" cellspacing="0"  id="contenedor">
                                             <tr>
                                                <td>
                                                   <table width="911" height="390" border="0" align="center" cellpadding="0" cellspacing="0">
                                                      <tr>
                                                         <td width="670" rowspan="2" valign="top">
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                               <tr>
                                                                  <td>
                                                                     <div class="wrapper">
                                                                        <div id="container">
                                                                           <div id="example">
                                                                              <div id="slides">
                                                                                 <div>
                                                                                    <a href="/focal-one-hifu/index.html" target="_self" onclick="_gaq.push(['_trackEvent', 'home', 'focal_one_hifu']);">
                                                                                    <img src="http://www.clinicasantamaria.cl//imagenes/vitrinas/urologia/banner-focal-one-2.png" border="0" alt=""/>
                                                                                    </a>
                                                                                 </div>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </td>
                                                               <tr>
                                                                  <td height="23" background="http://www.clinicasantamaria.cl/imagenes/index/linea_horizontal.jpg">&nbsp;</td>
                                                               </tr>
                                                               <tr>
                                                                  <td>
                                                                     <table border="0" align="center" cellpadding="0" cellspacing="0" id="contenedor2">
                                                                        <tr>
                                                                           <td align="center">
                                                                              <table width="95%" border="0" cellspacing="0" cellpadding="0">
                                                                                 <tr>
                                                                                    <td width="47%" height="20" class="noticia_titulo" >
                                                                                       <p><strong>A pasos de la Clínica</strong></p>
                                                                                       <p class="noticia_titulo" target="_parent">
                                                                                    </td>
                                                                                    <td width="6%">&nbsp;</td>
                                                                                    <td width="47%" class="noticia_titulo"><strong><B>Asma bronquial infantil</B>
                                                                                       </strong>
                                                                                    </td>
                                                                                 </tr>
                                                                                 <tr>
                                                                                    <td valign="top"><img src="http://www.clinicasantamaria.cl/imagenes/index/barras.jpg" width="300" height="9" /></td>
                                                                                    <td><img src="http://www.clinicasantamaria.cl/imagenes/index/space_02.gif" width="5" height="14" /></td>
                                                                                    <td valign="top"><img src="http://www.clinicasantamaria.cl/imagenes/index/barras.jpg" width="300" height="9" /></td>
                                                                                 </tr>
                                                                                 <tr>
                                                                                    <td class="noticia_subtitulo" height="35">
                                                                                       <p><strong>Exámenes de Laboratorio y Unidad de Salud Mental</strong></p>
                                                                                    </td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td class="noticia_subtitulo" height="35">¿Cuándo sospechar?</td>
                                                                                 </tr>
                                                                                 <tr>
                                                                                    <td><img src="http://www.clinicasantamaria.cl/imagenes/homeps/noticia-fija-laboratorio.jpg" width="300" height="150" border="0" /></td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td><img src="http://www.clinicasantamaria.cl/imagenes/20175292191.jpg" width="300" height="150" border="0" /></td>
                                                                                 </tr>
                                                                                 <tr>
                                                                                    <td>&nbsp;</td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td>&nbsp;</td>
                                                                                 </tr>
                                                                                 <tr>
                                                                                    <td height="56" valign="top" class="noticia_texto">
                                                                                       <p>Porque continuamos creciendo para ti, además del tradicional Laboratorio de Bellavista, ahora contamos con una nueva Toma de Muestras en Av. Santa María 0810. En el segundo piso se realizarán las atenciones de Psiquiatría y Psicología.</p>
                                                                                    </td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td class="noticia_texto" valign="top">
                                                                                       <p>El 2 de mayo es el Día Mundial del Asma, una patología que afecta entre un 15% y un 17% de la población pediátrica en Chile. Aprende a reconocer los síntomas.</p>
                                                                                    </td>
                                                                                 </tr>
                                                                                 <tr>
                                                                                    <td>
                                                                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                          <tr>
                                                                                             <td align="left" height="0"><a href="/newsletter/noticias/noticias-anteriores/2017/index.htm" class="vermas" target="_parent" onclick="_gaq.push(['_trackEvent', 'home', 'noticias', 'laboratorio']);">Noticias anteriores</a> <img src="http://www.clinicasantamaria.cl/imagenes/index/bullet.jpg" width="12" height="12" /></td>
                                                                                             <td align="right" height="25"><a href="http://www.clinicasantamaria.cl/noticias/noticia_muestra.asp?new=1260" class="vermas" target="_parent" onclick="_gaq.push(['_trackEvent', 'home', 'noticias', 'laboratorio']);">Ver m&aacute;s</a></td>
                                                                                             <td width="15"><img src="http://www.clinicasantamaria.cl/imagenes/index/bullet.jpg" width="12" height="12" /></td>
                                                                                          </tr>
                                                                                       </table>
                                                                                    </td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td>
                                                                                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                          <tr>
                                                                                             <td align="right"><a href="#" class="vermas">Ver m&aacute;s</a></td>
                                                                                             <td width="15"><img src="http://www.clinicasantamaria.cl/imagenes/index/bullet.jpg" width="12" height="12" /></td>
                                                                                          </tr>
                                                                                       </table>
                                                                                    </td>
                                                                                 </tr>
                                                                              </table>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td height="23" background="http://www.clinicasantamaria.cl/imagenes/index/linea_horizontal.jpg">&nbsp;</td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                            <table width="100%" height="320" border="0" cellspacing="0" cellpadding="0" background="http://www.clinicasantamaria.cl/imagenes/index/cuadro_menu_inferior.jpg">
                                                               <tr>
                                                                  <td width="32%" valign="top">
                                                                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                           <td>
                                                                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                 <tr>
                                                                                    <td><img src="http://www.clinicasantamaria.cl/imagenes/index/circulo_01.jpg" width="208" height="55" /></td>
                                                                                 </tr>
                                                                              </table>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td align="left">
                                                                              <div id="CajaMenuInferior" class="menu_inferior">
                                                                                 <ul>
                                                                                    <li><a href="#" class="menu_inferior" >Convenio con Isapres</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Convenio con FONASA</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Convenios con Empresas</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Seguro Salud Total</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Convenio Escolar</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Convenio Ni&ntilde;o Protegido</a></li>
                                                                                 </ul>
                                                                              </div>
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                                  <td>&nbsp;</td>
                                                                  <td width="32%" valign="top">
                                                                     <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                                                                        <tr>
                                                                           <td>
                                                                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                 <tr>
                                                                                    <td><img src="http://www.clinicasantamaria.cl/imagenes/index/circulo_02.jpg" width="208" height="55" /></td>
                                                                                 </tr>
                                                                              </table>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td align="left">
                                                                              <div id="CajaMenuInferior" class="menu_inferior">
                                                                                 <ul>
                                                                                    <li><a href="especialidades.htm" class="menu_inferior" >Especialidades</a></li>
                                                                                    <li><a href="am/servicio_hospitalizacion.htm" class="menu_inferior" >Hospitalizaci&oacute;n</a></li>
                                                                                    <li><a href="ps/reserva_de_horas.asp" class="menu_inferior" >M&eacute;dicos</a></li>
                                                                                    <li><a href="am/anestesiologia.htm" class="menu_inferior" >Anestesiolog&iacute;a</a></li>
                                                                                    <li><a href="am/banco_sangre.htm" class="menu_inferior" >Banco de Sangre</a></li>
                                                                                    <li><a href="am/laboratorio.htm" class="menu_inferior" >Laboratorio</a></li>
                                                                                    <li><a href="neurologia/neurorradiologia.htm" class="menu_inferior" >Neurorradiolog&iacute;a</a></li>
                                                                                    <li><a href="am/radiologia_imagenes.htm" class="menu_inferior" >Radiolog&iacute;a e Im&aacute;genes</a></li>
                                                                                    <li><a href="kinesiologia/index_kinesiologia.htm" class="menu_inferior" >Kinesiología</a></li>
                                                                                 </ul>
                                                                              </div>
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                                  <td>&nbsp;</td>
                                                                  <td width="32%" valign="top">
                                                                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                           <td>
                                                                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                 <tr>
                                                                                    <td align=""><img src="http://www.clinicasantamaria.cl/imagenes/index/circulo_03.jpg" width="208" height="55" /></td>
                                                                                 </tr>
                                                                              </table>
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td align="left">
                                                                              <div id="CajaMenuInferior" class="menu_inferior">
                                                                                 <ul>
                                                                                    <li><a href="#" class="menu_inferior" target="_blank" >Sitio para M&eacute;dicos</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Vis&iacute;tanos</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Proveedores</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Ley 20.393</a></li>
                                                                                    <li><a href="#" class="menu_inferior" >Pagar&eacute; y Mandato</a></li>
                                                                                 </ul>
                                                                              </div>
                                                                           </td>
                                                                        </tr>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                         <td width="30">&nbsp;</td>
                                                         <td align="right" valign="top">
                                                            <table width="220" border="0" cellspacing="0" cellpadding="0" style="margin:0 0 10px 0;" align="right">
                                                               <tr>
                                                                  <td width="110"><span class="noticia_subtitulo" style="margin-left:10px;">S&iacute;guenos en:</span></td>
                                                                  <td width="50"><a href="http://www.facebook.com/clinicasantamaria" target="_blank"  title="Ir a Facebook"><img src="http://www.clinicasantamaria.cl/imagenes/index/fb.png" width="25" height="25" border="0" /></a></td>
                                                                  <td width="50"><a href="http://twitter.com/insthipocrates" target="_blank"  title="Ir a Twitter"><img src="http://www.clinicasantamaria.cl/imagenes/index/tw.png" width="25" height="25" border="0" /></a></td>
                                                                  <td width="50"><a href="#" target="_blank" title="Ir a YouTube"><img src="http://www.clinicasantamaria.cl/imagenes/index/yt.png" width="25" height="25" border="0" /></a></td>
                                                               </tr>
                                                            </table>
                                                            <table width="220" border="0" cellspacing="0" cellpadding="0" class="sidebar-rigth" background="http://www.clinicasantamaria.cl/imagenes/index/menu_ser_online3.jpg" align="right">
                                                               <tr>
                                                                  <td height="35">&nbsp;</td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="25" align="center"><a href="/reservaHora"  target="_parent" ><img src="http://www.clinicasantamaria.cl/imagenes/index/bullet.png"> Reserva de Horas</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="5" align="center"><img src="http://www.clinicasantamaria.cl/imagenes/index/menu_derecha/punteada2.jpg" width="200" height="5" /></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="25" align="center"><a href="#" target="_parent"><img src="http://www.clinicasantamaria.cl/imagenes/index/bullet.png" />Ex&aacute;menes de Laboratorio</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="5" align="center"><img src="http://www.clinicasantamaria.cl/imagenes/index/menu_derecha/punteada2.jpg" width="200" height="5" /></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="25" align="center"><a href="#" target="_parent"><img src="http://www.clinicasantamaria.cl/imagenes/index/bullet.png" />Presupuestos</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="5" align="center"><img src="http://www.clinicasantamaria.cl/imagenes/index/menu_derecha/punteada2.jpg" width="200" height="5" /></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="25" align="center"><a href="#" target="_parent"><img src="http://www.clinicasantamaria.cl/imagenes/index/bullet.png" />Pre Admisi&oacute;n</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="5" align="center"><img src="http://www.clinicasantamaria.cl/imagenes/index/menu_derecha/punteada2.jpg" width="200" height="5" /></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="25" align="center"><a href="#"  target="_parent"><img src="http://www.clinicasantamaria.cl/imagenes/index/bullet.png" />Pago de Cuentas</a></td>
                                                               </tr>
                                                               <tr>
                                                                  <td height="5" align="center"><img src="http://www.clinicasantamaria.cl/imagenes/index/menu_derecha/punteada2.jpg" width="200" height="5" /></td>
                                                               </tr>
                                                               <tr>
                                                                  <td></td>
                                                               </tr>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </table>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
            <td width="15" valign="bottom" class="bordes_der">&nbsp;</td>
         </tr>
</table>